*.89z
*.9xz
*.v2z
libs/dklibs/brwselib/brwselib
libs/dklibs/pk92lib/pk92lib
libs/dklibs/shrnklib/shrnklib
libs/dklibs/ugplib/ugplib
libs/dolibs/filelib
libs/dolibs/graphlib
libs/dolibs/userlib
libs/dolibs/ziplib
libs/fargray/fargray
libs/hexlib
libs/pslibs/gray4lib
libs/pslibs/gray7lib
libs/pslibs/hufflib
libs/pslibs/linelib
libs/pslibs/triglib
libs/pslibs/util
libs/shell
libs/stdlib
libs/t3libs/genclib
sdk/kpack/kpack
sdk/makeprgm/makeprgm
sdk/zpack/zpack
sdk/zpack/zunpack
src/preos
